<form action="/save_information" method="post" enctype="multipart/form-data">
    <input type="text" name="user_name" placeholder="user name" name="" id=""><br><br>
    <input type="file" name="user_photo" id="">
    <button>ragister user</button>
</form>