<a href="/student_list">open student list</a>
<form action="/student_info" method="post" style="margin: 50px;">
    <label for="">name</label><br>
    <input type="text" name="student_name" id=""><br><br>
    <label for="">mobile</label><br>
    <input type="number" name="student_mobile" id=""><br><br>
    <label for="">email</label><br>
    <input type="email" name="student_email" id=""><br><br>
    <label for="">password</label><br>
    <input type="password" name="student_password" id=""><br><br>
    <button>submit</button>
</form>