<h1>Edit student form</h1>
<form action="/save_edited_student" method="post">
    Enter New Name <input type="text" name="customer_name" id=""><br>
    Enter New mobile <input type="text" name="customer_mobile" id=""><br>
    Enter New dob <input type="date" name="customer_dob" id=""><br>
    Enter New address <input type="text" name="customer_address" id=""><br>
    <button>Update Student</button>
</form>