<h1>add student inforamtion</h1>
<h1>
    <button><a href="/student_list">student list</a></button>
</h1>
<form action="/student_list" method="post">
    <label for="">student name:</label>
    <input type="text" placeholder="<NAME>" id="" name="name" class=""><br><br>
        <label>student mobile</label>
    <input type="number" name="mobile"><br><br>
    <label>student dob</label>
    <input type="date" name="dob" ><br><br>
    <label for="">student address</label>
    <textarea name="address"  cols="30" rows="1"></textarea><br><br>
    <button>submit</button>
</form>