<form action="/login_now" method="post">
    Enter Your mobile 
    <input type="number" name="mobile" id="">
    <br><br>
    Enter Your Password 
    <input type="password" name="password" id="">
    <br><br>
    <button>login now</button>
    <button><a href="/register">new User Register Here</a></button>
</form>
