<form action="/create_account" method="post">
    <h1>create customer account</h1> 
    enter your name 
    <input type="text" name="customer_name" id="">
    <br><br>
    enter your mobile
    <input type="number" name="customer_mobile" id="">
    <br><br>
    enter your paassword
    <input type="password" name="customer_password" id="">
    <br><br>
    <button>Register Now</button>
</form>