
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #d52727;
      background-image: url("https://media.istockphoto.com/id/1133604495/photo/hacker-dark-face-using-laptop.jpg?s=612x612&w=0&k=20&c=sDzILzet4nFoqXeGc6TwzYrQRZ1WVbioPImZP4OEYL0=");
     background-repeat: no-repeat;
     background-size: cover;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  
    .form-container {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      width: 300px;
    }
  
    .form-container h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="mobile"],
    .form-group input[type="date"],
    .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: vertical;
    }
  
    .form-group button {
      background-color: #007bff;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .form-group button:hover {
      background-color: #0056b3;
    }
  </style>
    <div class="form-container">
        <div>
            <a href="/teacher_list"><button>teacher_list</button></a>
        </div>
      <h1>Contact Us</h1>
      <form action="/teacher_list" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="message">mobile</label>
          <input type="mobile" id="" name="mobile" required>
        </div>
        <div class="form-group">
            <label for="message">date of birth</label>
            <input type="date" id="" name="dob" required>
          </div>
        <div class="form-group">
          <button >Submit</button>
        </div>
      </form>
    </div>