
<form action="/student_info" method="get" style="margin: 50px;">
    <label for="">name</label>
    <input type="text" name="student_name" id=""><br><br>
    <label for="">mobile</label>
    <input type="number" name="student_mobile" id=""><br><br>
    <button>submit</button>
</form>