
<h1>student form</h1>
<a href="/student_list">student_list</a>
<form action="/save_student" method="post" enctype="multipart/form-data"  style="margin: auto;border: 2px solid blue;width: 20%;padding: 20px;">
   
    <label for="">enter your name</label><br>
    <input type="text" name="student_name" id=""><br><br>
    
    <label for="">enter your mobile</label><br>
    <input type="number" name="student_mobile" id=""><br><br>
    
    <label for="">enter your dob</label><br>
    <input type="text" name="student_dob" id=""><br><br>
    
    <label for="">enter your photo</label><br>
    <input type="file" name="student_photo" id=""> <br><br>
    <button>submit</button>
</form>