

<form  action="/register_student" method="get">
    <input type="text" placeholder="enter the name " name="student_name" id=""><br><br>
    <input type="number" placeholder="enter the email" name="student_mobile" id=""><br><br>
    <button>submit</button>
</form>